<div class="flash-message" style="margin-bottom: 40px;">
  <% flash.each do |name, msg|
    alert = case name
            when "alert", "error"
              "danger"
            when "notice", "success"
              "success"
            else
              "primary"
            end
  %>
    <div class="alert alert-<%=alert%> alert-dismissible text-center" >
      <strong> <%= msg%> </strong>
    </div>
  <% end %>
</div>