<%  if current_user.role_id == User.ADMINISTRATOR  || current_user.role_id == User.EDITOR %>
<div class="row">
  <div class="col-sm-10 offset-sm-1 text-center">
    <h3 class="my-4" >Nuevo Practicante</h3>
  </div>
</div>

<%= render 'form', student: @student %>


<% end %>