@import "not_found";
@import "~bootstrap/scss/bootstrap";
@import "/nav";
@import "toggle-switch";
/*@import "bootstrap-select";*/
@import 'bootstrap-select';

.btn-nav-page{
  position: sticky;
  bottom: 10%;
  border-radius: 50%;
  width: 40px;
  font-size: 20px;
  float: right;
  right: 7%;
}

.striker {
  text-decoration: line-through;
}

.w-50{
  width: 50% !important;
}

.percent {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.pd-y-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
tr>td {
  font-size: 14px !important;
}
.bg-ciglop{
  background-color: #e3f2fd !important
}
.will_paginate a {
  margin-right: 5px;
  margin-left: 5px;
}

.will_paginate a:hover {
  background-color: transparent !important;
  text-decoration: none;
  margin-right: 5px;
  margin-left: 5px;
}
.navbar-light .navbar-nav .nav-link{
  font-size: 14px !important;
}

.tr-register, .td-register {
  font-size: 12px !important;
}

.table thead th {
  font-size: 14px;
}

.width-95{
  width: 95% !important;
}

/* */

.display-none {
  display: none;
}

.count-down {
  font-size: 30px;
  font-weight: 600;
}

label {
  padding: 5px;
  margin: 5px;
}

.btn-primary {
  color: white !important;
}

h5 > .btn-link:hover {
  text-decoration: none;
}

nav a {
  font-size: 15px;
}

h5 > a {
  background-color: transparent !important;
}

nav a:hover{
  background-color: transparent !important;
  text-decoration: none;
}

td > a:hover {
  background-color: transparent !important;
  text-decoration: none;
}

.form-check {
  display: inline;
}

.form-check-input{
margin: 5px !important;
}

input[type="radio"] {
  margin-right: 5px !important;
  position: relative;
  top: 0;
}

.form-check-label{
  margin: 5px !important;
}

.bg-light-danger{
  background-color: rgba(220,53,69,0.2) !important;
}

.bg-light-warning {
  background-color: rgba(220,207,53,0.5) !important
}

.bg-light-info {
  background-color: rgba(0,105,217,0.5) !important
}

.bg-light-success {
  background-color: rgba(133, 220, 53,0.8) !important }

.bg-light-dark {
  background-color: aquamarine;
}