@import "~bootstrap/scss/bootstrap";
@import "/nav";
@import "toggle-switch";
@import "bootstrap-select";




.width-95{
  width: 95% !important;
}

/* */

.display-none {
  display: none;
}

.count-down {
  font-size: 30px;
  font-weight: 600;
}

label {
  padding: 5px;
  margin: 5px;
}

.btn-primary {
  color: white !important;
}

h5 > .btn-link:hover {
  text-decoration: none;
}