@import "~bootstrap/scss/bootstrap";
@import "/nav";
@import "toggle-switch";
@import "bootstrap-select";


tr>td {
  font-size: 15px !important;
}

.width-95{
  width: 95% !important;
}

/* */

.display-none {
  display: none;
}

.count-down {
  font-size: 30px;
  font-weight: 600;
}

label {
  padding: 5px;
  margin: 5px;
}

.btn-primary {
  color: white !important;
}

h5 > .btn-link:hover {
  text-decoration: none;
}

nav a {
  font-size: 15px;
}

h5 > a {
  background-color: transparent !important;
}

nav a:hover{
  background-color: transparent !important;
  text-decoration: none;
}

td > a:hover {
  background-color: transparent !important;
  text-decoration: none;
}

.form-check {
  display: inline;
}

.form-check-input{
margin: 5px !important;
}

input[type="radio"] {
  margin-right: 5px !important;
  position: relative;
  top: 0;
}

.form-check-label{
  margin: 5px !important;
}