<h5 class="card-title" style="display: inline-block">
  Datos
</h5>
<span class="float-right" style="display: inline-block">
       <a class="btn btn-sm btn-outline-dark" href="/<%= route %>">
         <i class="fas fa-long-arrow-alt-left pd-y-5"></i>
       </a>
</span>